# PostgreSQL
POSTGRES_DB=contacts_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_HOST=db
# POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# SQLAlchemy connection string
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# JWT
SECRET_KEY=secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7

# Email
MAIL_USERNAME=example@meta.ua
MAIL_PASSWORD=secretPassword
MAIL_FROM=example@meta.ua
MAIL_PORT=465
MAIL_SERVER=smtp.meta.ua
MAIL_FROM_NAME=Contacts Support
MAIL_USE_TLS=False
MAIL_USE_SSL=True
# Cloudinary
CLOUDINARY_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_URL=redis://localhost:6379
